---
- name: Install dependencies
  become: true
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl

- name: Download Docker apt repository key
  become: true
  ansible.builtin.get_url:
    url: "{{ docker_gpg_cert_url }}"
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
    force: false

- name: Add Docker apt repository
  become: true
  ansible.builtin.apt_repository:
    repo: "{{ docker_apt_repository }}"
    state: present
    filename: docker
    update_cache: true

- name: Install Docker packages
  become: true
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Install docker daemon as rootless
  ansible.builtin.include_tasks:
    file: rootless.yml
  when: "docker_rootless_mode"

- name: Install root docker daemon as root
  ansible.builtin.include_tasks:
    file: root.yml
  when: "not docker_rootless_mode"

- name: Configure daemon options
  become: true
  ansible.builtin.copy:
    content: "{{ docker_daemon_options | to_nice_json}}"
    dest: "{{ docker_daemon_config_dir }}/daemon.json"
    mode: "0644"
    owner: "{{ docker_rootless_mode | ternary(docker_rootless_user, 'root') }}"
    group: "{{ docker_rootless_mode | ternary(docker_rootless_user, 'root') }}"
  notify: "restart docker"

- name: Configure a registry credential helper
  ansible.builtin.include_tasks:
    file: pass-credential-helper.yml
  when: "docker_credential_helper_enabled"

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
