---
- name: Install docker cred helpers
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
  with_items: "{{ docker_credential_helper_packages }}"

- name: Rootless - Create docker user config folder for rootless user
  become: true
  ansible.builtin.file:
    path: "/home/{{ docker_rootless_user }}/.docker"
    state: directory
    owner: "{{ docker_rootless_user }}"
    group: "{{ docker_rootless_user }}"
    mode: "0700"
  when: "docker_rootless_mode"

- name: Root mode - Create docker user config folders for admins if they do not exist
  become: true
  ansible.builtin.file:
    path: "/home/{{ item }}/.docker"
    state: directory
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: "0700"
  with_items: "{{ docker_admin_users }}"
  when: "not docker_rootless_mode"

- name: Rootless - Copy credential store config files for rootless user
  become: true
  ansible.builtin.template:
    src: config.json.j2
    dest: "/home/{{ docker_rootless_user }}/.docker/config.json"
    owner: "{{ docker_rootless_mode }}"
    group: "{{ docker_rootless_mode }}"
    mode: "0700"
  when: "docker_rootless_mode"
  notify: "restart docker"

- name: Root mode - Copy credential store config files for admins
  become: true
  ansible.builtin.template:
    src: config.json.j2
    dest: "/home/{{ item }}/.docker/config.json"
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: "0700"
  with_items: "{{ docker_admin_users }}"
  when: "not docker_rootless_mode"
  notify: "restart docker"
