---
- name: Install docker cred helpers
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
  with_items: "{{ docker_credential_helper_packages }}"

- name: Check if docker config.json file exists
  become: true
  ansible.builtin.stat:
    path: "{{ docker_config_dir }}/config.json"
  register: docker_config_file

- name: Add credential store config line to existing file
  become: true
  ansible.builtin.lineinfile:
    path: "{{ docker_config_dir }}/config.json"
    line: '"credsStore": "{{ docker_credential_helper_name }}",'
    insertafter: "{"
  when: 'docker_config_file.stat.exists'
  notify: "restart docker"

- name: Add credential store config options line to existing file
  become: true
  ansible.builtin.lineinfile:
    path: "{{ docker_config_dir }}/config.json"
    line: '"credHelpers": {{ docker_credential_helper_opts | to_nice_json }}'
    insertafter: "{"
  when: 'docker_config_file.stat.exists and docker_credential_helper_opts | length > 0'
  notify: "restart docker"

- name: Copy credential store config file if non-existing
  become: true
  ansible.builtin.template:
    src: config.json.j2
    dest: "{{ docker_config_dir }}/config.json"
    owner: "{{ docker_rootless_mode | ternary(docker_rootless_user, 'root') }}"
    group: "{{ docker_rootless_mode | ternary(docker_rootless_user, 'root') }}"
  when: 'not docker_config_file.stat.exists'
  notify: "restart docker"

