---
- name: Install docker cred helpers
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
  with_items: "{{ docker_credential_helper_packages }}"

- name: Copy credential store config file
  become: true
  ansible.builtin.template:
    src: config.json.j2
    dest: "{{ docker_user_config_dir }}/config.json"
    owner: "{{ docker_rootless_mode | ternary(docker_rootless_user, 'root') }}"
    group: "{{ docker_rootless_mode | ternary(docker_rootless_user, 'root') }}"
  notify: "restart docker"
