---
- name: Add admin users to docker group
  become: true
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  with_items: "{{ docker_admin_users }}"
  when: "docker_admin_users | length > 0"
  notify: "reset ssh"

- name: Set docker config folder location
  ansible.builtin.set_fact:
    docker_daemon_config_dir: "/etc/docker"
