---
- name: Start Docker on boot
  become: true
  ansible.builtin.systemd_service:
    name: docker
    state: started
    enabled: true

- name: Add admin users to docker group
  become: true
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  with_items: "{{ docker_admin_users }}"
  when: "docker_admin_users | length > 0"
  notify: "reset ssh"

- name: Set docker config folder location
  ansible.builtin.set_fact:
    docker_daemon_config_dir: "/etc/docker"
    docker_user_config_dir: "/root/.docker"

- name: Create docker user config folder if it doesn't exist
  become: true
  ansible.builtin.file:
    path: "{{ docker_user_config_dir }}"
    state: directory
    owner: "root"
    group: "root"
