{
  {% if docker_log_driver_opts | length > 0 %}
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {{ docker_log_driver_opts | to_nice_json }}
  {% else %}
  "log-driver": "{{ docker_log_driver}}"
  {% endif %}

  {% if docker_address_pools | length > 0 %}
  "default-address-pools": {{ docker_address_pools | to_nice_json }}
  {% endif %}
}

